body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    display: flex;
}

.container {
    display:flex;
}
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 100vh;
}
.image {
    background-image: url(https://rentle.onrender.com/images/apartment-balcony-view.jpg);
    background-position: center;
    width: 40vw;
    height: 100vh;
}

.image span {
    position: absolute;
    top: 12px;
    left: 12px;
    color: black;
    font-size: 50px;
    font-weight: bold;
}

.form h2 {
    font-size: 40px;
    font-weight: 300;
    margin: 12px 0;
}

.form p {
    font-size: 20px;
    font-weight: 500;
    color: #77838f;
}

form div {
    display: flex;
    flex-direction: column;
    margin: 3px 0;
}

form div label {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 6px;
}

.remember-me {
    flex-direction: row;
    align-items: center;
    margin-bottom: 12px;
}

.remember-me label {
    margin: 0;
}

.remember-me input {
    margin-left: 0px;
    margin-right: 6px;
}

.infor span, .infor > a {
    display: block;
    text-decoration: none;
    font-weight: 400;
}

.infor a {
    text-decoration: none;
    color: #377dff; 
}

hr {
    margin: 24px 0;
    border: 0;
    border-top: 1px solid #e7eaf3;
}

.password a {
    font-size: 15px;
    color: purple;
    text-decoration: none;
    text-align: right;
    margin-top: -10px;
    margin-bottom: 15px;
}

.password a:hover {
    text-decoration: underline;
}

button:hover {
    background-color: orange;
}

button {
    background-color: #fbbf24;
    color: #111827;
    font-size: 0.875rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  input [type='checkbox'] {
    border-radius: 4px;
  }


