.text-center {
  text-align: center;
}

.w-100 {
  width: 100% !important
}

.display-flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

th, td {
  border: 1px solid #ccc; /* <border_size> <border_type> <border_color> */
  padding: 8px;
}

.d-block {
  display: block;
}

.margin-6 {
  margin: 6px;
}

form {
  width: 500px;
}

button {
  background-color: blue; /* <button_background_color> */
  color: white; /* <button_text_color> */
  border: none; /* <border none> */
  border-radius: 4px;
  padding: 8px;
  width: 100px;
}
